.ant-carousel .slick-slide {
    text-align: center;
    height: 50%;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  