ul.navbar-nav {
  background-color: #00356b;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.chosen {
  text-decoration: none;
  color: #a6ffdc;
}

ul.navbar-nav > a {
  text-decoration: none;
}

ul.navbar-nav > a:hover {
  color: #a6ffdc;
}

#logo {
  padding: 8px;
  background-color: #00356b;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.navIcon {
  margin-right: 5px;
}

.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}
